.yat {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(55, 53, 47);
  caret-color: rgb(55, 53, 47);
  font-family: inter, Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.yat > * {
  padding: 3px 0px;
}

.yat * {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.yat-red {
  color: rgb(224, 62, 62);
}
.yat-pink {
  color: rgb(173, 26, 114);
}
.yat-blue {
  color: rgb(11, 110, 153);
}
.yat-purple {
  color: rgb(105, 64, 165);
}
.yat-teal {
  color: rgb(15, 123, 108);
}
.yat-yellow {
  color: rgb(223, 171, 1);
}
.yat-orange {
  color: rgb(217, 115, 13);
}
.yat-brown {
  color: rgb(100, 71, 58);
}
.yat-gray {
  color: rgb(155, 154, 151);
}
.yat-red_background {
  background-color: rgb(251, 228, 228);
}
.yat-pink_background {
  background-color: rgb(244, 223, 235);
}
.yat-blue_background {
  background-color: rgb(221, 235, 241);
}
.yat-purple_background {
  background-color: rgb(234, 228, 242);
}
.yat-teal_background {
  background-color: rgb(221, 237, 234);
}
.yat-yellow_background {
  background-color: rgb(251, 243, 219);
}
.yat-orange_background {
  background-color: rgb(250, 235, 221);
}
.yat-brown_background {
  background-color: rgb(233, 229, 227);
}
.yat-gray_background {
  background-color: rgb(235, 236, 237);
}
.yat-red_background_co {
  background-color: rgb(251, 228, 228, 0.3);
}
.yat-pink_background_co {
  background-color: rgb(244, 223, 235, 0.3);
}
.yat-blue_background_co {
  background-color: rgb(221, 235, 241, 0.3);
}
.yat-purple_background_co {
  background-color: rgb(234, 228, 242, 0.3);
}
.yat-teal_background_co {
  background-color: rgb(221, 237, 234, 0.3);
}
.yat-yellow_background_co {
  background-color: rgb(251, 243, 219, 0.3);
}
.yat-orange_background_co {
  background-color: rgb(250, 235, 221, 0.3);
}
.yat-brown_background_co {
  background-color: rgb(233, 229, 227, 0.3);
}
.yat-gray_background_co {
  background-color: rgb(235, 236, 237, 0.3);
}
h1,
h2,
h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.yat-h1 {
  font-weight: 600;
  font-size: 1.875em;
  line-height: 1.3;
  color: inherit;
  margin-top: 1.4em;
  margin-bottom: 1px;
}
.yat-h1:first-child {
  margin-top: 0px;
}
.yat-h2 {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3;
  color: inherit;
  fill: inherit;
  margin-top: 1.1em;
  margin-bottom: 1px;
}
.yat-h3 {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.3;
  color: inherit;
  fill: inherit;
  margin-top: 1em;
  margin-bottom: 1px;
}
.yat-quote {
  white-space: pre-wrap;
  word-break: break-word;
  border-left: 3px solid currentcolor;
  padding: 0.2em 0.9em;
  margin: 0;
  font-size: 1.2em;
}
.yat-hr {
  margin: 6px 0px;
  padding: 0;
  border-top: none;
  border-color: rgba(55, 53, 47, 0.09);
}
.yat-link {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: inherit;
}

.yat-inline-code {
  color: #eb5757;
  padding: 0.2em 0.4em;
  background: rgba(135, 131, 120, 0.15);
  border-radius: 3px;
  font-size: 85%;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.yat-list {
  margin: 0;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

.yat-list-disc {
  list-style-type: disc;
  padding-inline-start: 1.7em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.yat-list-numbered {
  list-style-type: decimal;
  padding-inline-start: 1.6em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.yat-list-disc li {
  padding-left: 0.1em;
}

.yat-list-numbered li {
  padding-left: 0.2em;
}

.yat-list li {
  padding: 6px 0px;
}

.yat-asset-wrapper {
  margin: 2px auto 0.5rem;
  max-width: 100%;
}

.yat-asset-wrapper iframe {
  border: none;
}

.yat-text {
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
}
.yat-block {
  padding: 3px 2px;
}

.yat-code {
  padding: 30px 16px 30px 20px;
  margin: 4px 0;
  tab-size: 2;
  font-size: 85%;
  display: block;
  background: rgb(247, 246, 243);
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  box-sizing: border-box;
  overflow-x: scroll;
}

.yat-column {
  padding-top: 12px;
  padding-bottom: 12px;
}

.yat-column > *:first-child {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.yat-column > *:last-child {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.yat-row {
  display: flex;
}

@media (max-width: 640px) {
  .yat-row {
    flex-direction: column;
  }

  .yat-row > *,
  .yat-column > * {
    width: 100% !important;
  }
}

.yat-spacer:last-child {
  display: none;
}

.yat-image-inset {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.yat-image-caption {
  padding: 6px 0px;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  font-size: 14px;
  line-height: 1.4;
  color: rgba(55, 53, 47, 0.6);
}

.yat-callout {
  padding: 16px 16px 16px 12px;
  display: flex;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  align-items: center;
  box-sizing: border-box;
}
.yat-callout-text {
  margin-left: 8px;
}
